# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages
* List common libraries used
* List popular data science tools

## Author 
Bhavana

Some of the popular languages that Data Scientists use are:

1. Python
2. R 
3. Scala
4. Java
5. SQL
6. Julia
7. Matlab

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. SciPy
3. Pandas
4. Matplotlib


|Data Science Tools |
| ------------------|
| Jupyter |
| Rstudio |
| IBM Watson Studio |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [8]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335